.btn {
  background: rgba(132, 132, 132, 0.156);
  box-shadow: inset 0.48px -0.48px 0.48px rgba(111, 111, 111, 0.512), inset -0.48px 0.48px 0.48px rgba(255, 255, 255, 0.512);
  backdrop-filter: blur(5.472px);
  border: 1px solid rgb(100, 100, 100);
  max-width: 200px;
  color: white;
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
